
#user-info{
    border: 1px solid #000000;
    margin-top: 20px;
}

td, th{
    border: 1px solid #000000;
    padding: 3px 10px 3px 10px;
}

.action{
    display: inline-block;
}

h3,
.navbar,
.navbar-expand-lg,
.navbar-dark
.bg-dark,
.btn-primary,
.form-control {
    margin-bottom: 25px;
}

.navbar,
.navbar-expand-lg,
.navbar-dark{
    height: 75px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

#current_employee {
    padding-right: 50px;
}
