  
{% extends "base.html" %}
{% block title %}
    Clients
{% endblock %}
{% block content%}
    <br>
    <form action="/new-client">
        <input type="submit" value="New Client" />
    </form>
    <table id="user-info">
        <tr>
            {% for col in clientCols %}
                {% if col == "date_created" %}
                    <th>Member Since</th>
                {% else %}
                    <th>{{ col.replace('_', ' ').title() }}</th>
                {% endif %}
            {% endfor %}
            <th>Actions</th>
        </tr>
        {% for client in clients %}
            <tr>
                {% for col in clientCols %}
                    {% if col == "date_created" %}
                        <td>{{ client.date_created.strftime("%d/%m/%Y") }}</td>
                    {% else %}
                        <td>{{ client[col.replace(' ', '_').lower()] }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <form class="action" action="/edit-client/{{ client.id }}">
                        <input class="action_buttons" type="submit" value="Edit" />
                    </form>
                    <form class="action" action="/delete-client/{{ client.id }}">
                        <input class="action_buttons" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
