  
{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content%}
    <br>
    <form action="/newUser">
        <input type="submit" value="New User" />
    </form>
    <table id="user-info">
        <tr>
            {% for col in cols %}
                <th>{{ col.replace('_', ' ') }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                {% for col in cols %}
                    <td>{{ user[col.replace(' ', '_').lower()] }}</td>
                {% endfor %}
                <td>
                    <form class="action" action="/profile/{{ user.username }}">
                        <input class="action_buttons" type="submit" value="Edit" />
                    </form>
                    <form class="action" action="/delete/{{ user.username }}">
                        <input class="action_buttons" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
