  
{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content%}
    <br>
    <form action="/newUser">
        <input type="submit" value="New User" />
    </form>
    <table id="user-info">
        <tr>
            {% for col in cols %}
                <th>{{ col.replace('_', ' ') }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.address }}</td>
                <td>
                    <form class="action" action="/profile/{{ user.id }}">
                        <input class="action_buttons" type="submit" value="Edit" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
