{% extends "base.html" %}
{% block title %}
    New Client
{% endblock %}
{% block content%}
    <form method="POST">
        <h3 align="center">New Client</h3>
        <div class="form-group">
            {% for col in clientCols %}
                <label for={{ col }}>{{ col.replace('_', ' ').title() }}</label>
                <input type="text" id="{{ col }}" name="{{ col }}" class="form-control"
                placeholder="Enter {{ col.replace('_', ' ') }}" />
            {% endfor %}
            <div align="center">
                <button class="btn btn-primary" type="submit">Create Client</button>
            </div>
        </div>
    </form>
{% endblock %}